@mixin background-image($image-url) {
  background-image: url($image-url);
  background-size: cover;
  background-position: center;
}

@mixin containerMaxWith(){
  max-width: 1200px;
  width: 100%;
}

