@mixin background-image($image-url) {
  background-image: url($image-url);
  background-size: cover;
  background-position: center;
}

// Mixin para la media query de pantalla grande
@mixin large-screen {
  @media screen and (min-width: $break_point_large) {
    @content;
  }
}

// Mixin para la media query de pantalla mediana
@mixin medium-screen {
  @media screen and (min-width: $break_point_medium) {
    @content;
  }
}

// Mixin para la media query de pantalla pequeña
@mixin small-screen {
  @media screen and (min-width: $break_point_small) {
    @content;
  }
}

