
$gradient_barra: linear-gradient(to right, #741d51 0%, #e44e52 100%);
$color_fondo_boton_carrito: #741d51;
$color_fondo_boton_curso: #33C3F0;
$font_size_h4: 0.2rem;
$font_size_h2: 1.5rem;
$font_size_oferta: 1.4rem;
$background_img_url: "/img/hero.jpg";