@import "_variables";
@import "_mixins";

*{
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header{
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .logo{
      flex-basis: 2%;
      height: 100%;

    }
    .carro > img{
      flex-basis: 5%;

    }
  }

  .intro{
    @include background-image($background_img_url);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    padding:0 10px;

    form{
      display: flex;
      input{
        flex-basis: 100%;
      }
      .submit{
        img{
          flex-basis: 30%;
        }
      }
    }

  }
  .barra{
    background-image: $gradient_barra;
    .contenedor-iconos{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .icono{
        color: white;
        display: flex;
        align-items: center;
        padding: 1em 1em;
        flex-basis: 20%;

        .texto{
          text-align: center;
          flex-grow: 1;
          padding-top: 0.7em;
        }

        img{
          padding-top: 5%;
          flex-grow: 0;
          flex-shrink: 1;
        }
      }
      @media screen and (min-width: $break_point_large){
        flex-direction: row;
      }
    }
  }
}


.carro{
  position: relative;

  &:hover .detalles-carro{
    display: block;
    position: absolute;
    right: -100%;
    background-color: #fbfdfc;
    z-index: 1;
    margin-right: 15px;

    table{
      display: flex;
      width: 300px;
      padding: 5px 15px;

      tr{
        flex-grow: 1;
        text-align: center;
        td{
          font-size: 0.8em;
        }
      }

    }
    .boton-carrito{
      background-color: #5F29F1;
      color: white;
      padding: 2% 25%;
      margin: 2% 10%;
    }


    img{
      width: 100%;
    }
  }
  .detalles-carro{
    display: none;
  }
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;

  h2{
    text-align: center;
    flex: 1 0 100%;
  }
  .cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .curso{
      $margen_entre_cursos: 16px;
      margin-bottom: 16px;
      border: 0.1em solid grey;
      display: flex;
      flex-direction: column;

      @media screen and (min-width: $break_point_small){
        flex-basis: calc(50% - ($margen_entre_cursos * .5));
      }

      @media screen and (min-width: $break_point_medium){
        flex-basis: calc(33.3% - ($margen_entre_cursos * .66));
      }

      @media screen and (min-width: $break_point_large){
        flex-basis: calc(25% - ($margen_entre_cursos * .75));
      }

      .imagen-curso{
        max-width: 100%;
      }

      .info-curso{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;

        h4{
          font-size: 20px;
        }

        & > p{
          border: 1px solid red;
          //margin-top: auto;
        }

        .precios{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;

          .precio{
            text-decoration: line-through;
          }
          .oferta{
            font-weight: bold;
          }
        }

        .agregar-carrito{
          background-color: $color_fondo_boton_curso;
          color: white;
          border: none;
          padding: 8px;
          align-self: stretch;

        }

      }
    }

    @media screen and (min-width: $break_point_large){
      @include containerWith;
    }
  }
}

footer{
  .contenedor-footer{
    display: flex;
    background-color: black;
    color: white;

    ul{
      list-style-type: none;
      flex-grow: 1;
      justify-content: left;
      max-width: 50%;

      li{
        line-height: 25px;
      }
    }
  }
}
