@import "_variables";
@import "_mixins";

*{
  box-sizing: border-box;
}

body{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header{
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .logo{
      flex-basis: 2%;
      height: 100%;

    }
    .carro > img{
      flex-basis: 5%;

    }
  }

  .intro{
    @include background-image($background_img_url);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px; /*PREGUNTAR*/
    padding:0 10px;

    form{
      display: flex;
      input{
        flex-basis: 100%;
      }
      .submit{
        img{
          flex-basis: 30%;
        }
      }
    }

  }
  .barra{
    background-image: $gradient_barra;
    .contenedor-iconos{
      .icono{
        color: white;
        display: flex;
        align-items: center;
        padding: 1em 1em;
        flex-basis: 30%;

        .texto{
          text-align: center;
          flex-grow: 1;
          padding-top: 0.7em;
        }

        img{
          padding-top: 5%;
          flex-grow: 0;
          flex-basis: 1%;
          flex-shrink: 1; /*LAS IMAGENES NO SE HACEN MAS PEQUEÑAS capa externa, img width:100%
          ICONOS FONT AWESOME*/
        }
      }
    }
  }
}


.carro{
  position: relative;

  &:hover .detalles-carro{
    display: block;
    position: absolute;
    right: -100%;
    background-color: #fbfdfc;
    z-index: 1;
    margin-right: 15px;

    table{
      display: flex;
      width: 300px; /*PREGUNTAR SI SE PUEDE ANCHO FIJO EN HOVER CARRO*/
      padding: 5px 15px;

      tr{
        flex-grow: 1;
        text-align: center;

        th{

        }
        td{
          font-size: 0.8em;

        }
      }

    }
    .boton-carrito{
      background-color: #5F29F1;
      color: white;
      padding: 2% 25%;
      margin: 2% 10%;
    }


    img{
      width: 100%; /*PREGUNTAR COMO MODIFICAR EL TAMAÑO DE ESTA IMAGEN*/
    }
  }
  .detalles-carro{
    display: none;
  }
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;

  h2{
    text-align: center;
    flex: 1 0 100%;
  }
  .cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 1 0 100%;

    .curso{
      margin: 16px 16px;
      padding: 5px 5px;
      border: 0.1em solid grey;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;


      h4{
        font-size: 20px;
      }
      .info-curso{
        width: 265px;


        .precios{
          .precio{
            text-decoration: line-through;
          }
          .oferta{
            text-align: right;
            font-weight: bold;
          }
        }

        .agregar-carrito{
          background-color: $color_fondo_boton_curso;
          color: white;
          border: none;
          padding: 2% 30%;

        }

      }
    }
  }
}

footer{
  .contenedor-footer{
    display: flex;
    background-color: black;
    color: white;

    ul{
      list-style-type: none;
      flex-grow: 1;
      justify-content: left;
      max-width: 50%;

      li{
        line-height: 25px;
      }
    }
  }
}

/*large*/
@media screen and (min-width: 768px){
  /*capa contenedora 100% de la web
  seccion cursos ancho max 1200px> imagen cabecera y menu no*/

  .barra{
    .contenedor-iconos{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .icono{
        /*cambiar tamaño icono en movil*/
      }
    }

  }
}


@media screen and (min-width: 480px){
/*3 curso por fila*/
}




@media screen and (min-width: 280px){
  /*2 cursos por fila*/
}

